<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-logistic-dark">
  <div class="container">
    <a class="navbar-brand fw-bold d-flex align-items-center" href="/">
        <span class="text-primary fs-3 me-2">Σ</span> logistic đường bộ
    </a>

    <div class="me-auto"></div> 

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="btn btn-primary px-4" href="/auth/login">Đăng nhập</a>
        </li>
      </ul>
    </div>
</div>
</nav>
</html>