<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer" class="py-4 bg-light mt-auto border-top">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Logistic Tân Đẹp Chai 2025</div>
                <div>
                    <a href="#" class="text-decoration-none text-muted">Chính sách bảo mật</a>
                    &middot;
                    <a href="#" class="text-decoration-none text-muted">Điều khoản sử dụng</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>